@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
*{
  max-width: 100vw;
}

:root{
  --mainBrown:#2d1e1f;
  --mainYellow: rgb(255, 158, 9);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

body{
  background: var(--mainGrey);
  color: var(--mainDark);
  font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
  letter-spacing: 1rem !important;
}
h2{
  letter-spacing: .35rem !important;
}

.text-yellow{
  color: var(--mainYellow);
}
.cart-icon{
  cursor: pointer;
  color:var(--mainYellow);
  font-size: 2rem;
}
/*HERO IMAGE*/
.default-background{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position:center;
  background-size: cover;
}
/*REACT TYPED*/
.typed-text{
  color: red;
  text-align: center !important;
}
/*ABOUT US BUTTON ON HOME PAGE */
.btn-yellow{
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}
.btn-yellow:hover{
  background: var(--mainYellow);
}
/*ABOUT US PAGE*******/
.about-us-background{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position:center;
  background-size: cover;
}
/*FOOOTER*****/
.footer{
  background-color: rgb(255, 158, 9);
}